<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>المعهد التعليمي الإدريسي</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/Template/Image/Logo.jpeg"
    />
    <link rel="stylesheet" href="../css/styleHeader.css" />
    <link rel="stylesheet" href="../css/stayleHome.css" />
    <link rel="stylesheet" href="../css/StyleFootesr.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body dir="rtl">
    <header>
        <ul>
          <li> <a href="#"> <i class="fas fa-search"></i></a>
          </li>
          <li> <a  href="about us.html">  معلومات عنا</a></li>
          <li> <a class="active" href="#">إشهار</a></li>
          <li> <a  href="suggest us.html">اقترح علينا</a></li>
          <li> <a  href="../../index.html"> الرئيسية</a></li>
          <div class="logo">
            <img src="../Image/Logo.jpeg" alt="" />
            <div class="text">
              <h1>المعهد التعليمي الإدريسي</h1>
            </div>
          </div>
          <div class="search">
            <div>
              <i class="arrow-to-right"><img src="/Template/Image/arrow.png" alt="" srcset=""></i>
            </div>
           <div>
           <i class="fas fa-search"></i>
          <input type="search" name="search" id="" placeholder="البحث في هذا الموقع" >
         </div>
          
       </div>
        </ul>
  
        <div class="photo"></div>
      </header>
    <section>
      <div class="description">
        <p>
          موقع تعليمي جزائري يشمل جميع الدروس لجميع المستويات بطريقة مبسطة
          بالاضافة لامتحانات جميع المواد لجميع السنوات
        </p>
        <div class="line"></div>
      </div>
      <div class="tools">
        <div class="subTools">
          <div class="typeTools">
            <samp style="color: aqua"
              >التعليم الإبتدائي
             
            </samp>
            <ul>
              <li> <a href="#">الأولى إبتدائي</a></li>
              <li> <a href="#">الثانية إبتدائي</a></li>
              <li> <a href="#">الثالثة إبتدائي</a></li>
              <li> <a href="#">الرابعة إبتدائي</a></li>
              <li> <a href="#">الخامسة إبتدائي</a></li>
            </ul>
          </div>
          <div class="typeTools">
            <samp style="color: brown">التعليم المتوسط</samp>
            <ul>
              <li> <a href="#">الأولى متوسط</a><li>
              <li> <a href="#">الثانية متوسط</a></li>
              <li> <a href="#">الثالثة متوسط</a></li>
              <li> <a href="#">الرابعة متوسط</a></li>
            </ul>
          </div>
          <div class="typeTools">
            <samp style="color: green">التعليم الثانوي</samp>
            <ul>
              <li> <a href="#">الأولى ثانوي</a></li>
              <li> <a href="#">الثانية ثانوي</a></li>
              <li> <a href="#">الثالثة ثانوي</a></li>
            </ul>
          </div>
          <div class="typeTools">
            <samp style="color: rgb(193, 245, 5)">التعليم الجامعي</samp>
            <ul></ul>
          </div>
        </div>
        <div class="subTools">
          <div class="typeTools">
            <samp style="color: #f96705">التكوين المهني</samp>
            <ul></ul>
          </div>
          <div class="typeTools">
            <samp style="color: #f96705">منوعات </samp>
            <ul></ul>
          </div>
          <div class="typeTools">
            <samp style="color: rgb(179, 255, 0)">استاذ</samp>
            <ul>
              <li> <a href="#">التعليم الإبتدائي</a></li>
              <li> <a href="#">التعليم المتوسط</a></li>
              <li> <a href="#">التعليم الثانوي</a></li>
            </ul>
          </div>
          <div class="typeTools">
            <samp style="color: #0df905">فيديوهات تحفيزية </samp>
            <ul></ul>
          </div>
        </div>
      </div>
      <div class="description end">
        <p>لا تقلل من ضوئك لتتناسب مع الخلفية المملة لحياة الاخرين</p>
        <div class="line"></div>
      </div>
    </section>
  </body>
  <footer>
    <div class="links">
      <div class="links-container">
        <h3>الروابط</h3>
        <a href="">الرئيسية</a>
        <a href="Template/tooles/Hotel.php">منوعات</a>
        <a href="Template/tooles/Visa.php">تواصلوا معنا</a>
        <a href="Template/tooles/Billets d'avion.php">اقترح علينا</a>
      </div>
      <div class="links-container">
        <h3>اتصل بنا</h3>
        <a href="www.gmail.com">Salmivoyage17@gmail.com</a>
        <a href="#">+213671474933</a>
        <a href="#">+213550818780</a>
        <a href="#">+213227939042</a>
      </div>
      <!-- sgv  -->
      <div class="links-container">
        <h3>تابعنا</h3>
        <div class="Follow">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <div class="links-container">
        <h3>العنوان</h3>
        <a href="https://goo.gl/maps/WEfgPf3GmJCjixB86">M67W+V7H الجلفة‎</a>
      </div>
    </div>

    <div class="info">
      حقوق الطبع والنشر &#169; 2022-2023<br />
      جميع الحقوق محفوظة
    </div>
  </footer>

  <script src="../js/header.js"></script>
  <script src="../js/Home.js"></script>
</html>
