<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>التعليم الابتدائي</title>
    <link
      rel="shortcut icon"
      type="image/png"
      href="/Template/Image/Logo.jpeg"
    />
    <link rel="stylesheet" href="/Template/css/styleHeader.css" />
    <link rel="stylesheet" href="/Template/css/StyleFootesr.css" />
    <link rel="stylesheet" href="/Template/css/education.css" />
    <link rel="stylesheet" href="/Template/css/StyleModule.css" />
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
</head>
<body dir="rtl">
    <header>
        <ul>
          <li> <a id="search"> <i class="fas fa-search"></i></a> </li>
          <li> <a  href="Template/tooles/about us.html">  معلومات عنا</a></li>
          <li> <a  href="Template/tooles/advertising.html">إشهار</a></li>
          <li> <a  href="Template/tooles/suggest us.html">اقترح علينا</a></li>
          <li> <a  href="../../../index.html"> الرئيسية</a></li>
          <div class="logo">
            <img src="/Template/Image/Logo.jpeg" alt="" />
            <div class="text">
              <h1>المعهد التعليمي الإدريسي</h1>
            </div>
          </div>
          <div class="search">
            <div>
              <i class="arrow-to-right"><img src="/Template/Image/arrow.png" alt="" srcset=""></i>
            </div>
           <div>
           <i class="fas fa-search"></i>
          <input type="search" name="search" id="" placeholder="البحث في هذا الموقع" >
         </div>
          
       </div>
        </ul>
  
        <div class="photo"></div>
      </header>

      <section>
            <div class="container">
                <h4> التعليم الإبتدائي</h4>
                <nav>
                    <ul class="mcd-menu">
                        <li>
                            <a href="Home.php?option=">
                                <strong>أولى ابتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> التربية الإسلامية</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                                <li><a href="Home.php?option=password"> الغة الإنجليزية</a></li>
                                <li><a href="Home.php?option=password"> الغة الأمازيغية</a></li>
                                <li><a href="Home.php?option=password"> التربية المدنية</a></li>
                                <li><a href="Home.php?option=password"> تكنولوجيا</a></li>
                                <li><a href="Home.php?option=password"> فنية</a></li>
                                <li><a href="Home.php?option=password"> موسيقة</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <strong>ثانية إبتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> التربية الإسلامية</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                                <li><a href="Home.php?option=password"> الغة الإنجليزية</a></li>
                                <li><a href="Home.php?option=password"> الغة الأمازيغية</a></li>
                                <li><a href="Home.php?option=password"> التربية المدنية</a></li>
                                <li><a href="Home.php?option=password"> تكنولوجيا</a></li>
                                <li><a href="Home.php?option=password"> فنية</a></li>
                                <li><a href="Home.php?option=password"> موسيقة</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <strong>ثالثة إبتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> التربية الإسلامية</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                                <li><a href="Home.php?option=password"> الغة الإنجليزية</a></li>
                                <li><a href="Home.php?option=password"> الغة الأمازيغية</a></li>
                                <li><a href="Home.php?option=password"> التربية المدنية</a></li>
                                <li><a href="Home.php?option=password"> تكنولوجيا</a></li>
                                <li><a href="Home.php?option=password"> فنية</a></li>
                                <li><a href="Home.php?option=password"> موسيقة</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <strong>الرابعة إبتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> التربية الإسلامية</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                                <li><a href="Home.php?option=password"> الغة الإنجليزية</a></li>
                                <li><a href="Home.php?option=password"> الغة الأمازيغية</a></li>
                                <li><a href="Home.php?option=password"> التربية المدنية</a></li>
                                <li><a href="Home.php?option=password"> تكنولوجيا</a></li>
                                <li><a href="Home.php?option=password"> فنية</a></li>
                                <li><a href="Home.php?option=password"> موسيقة</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Home.php?option=Billets&value=tout">
                                <strong> الخامسة إبتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> التربية الإسلامية</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                                <li><a href="Home.php?option=password"> الغة الإنجليزية</a></li>
                                <li><a href="Home.php?option=password"> الغة الأمازيغية</a></li>
                                <li><a href="Home.php?option=password"> التربية المدنية</a></li>
                                <li><a href="Home.php?option=password"> تكنولوجيا</a></li>
                                <li><a href="Home.php?option=password"> فنية</a></li>
                                <li><a href="Home.php?option=password"> موسيقة</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">
                                <strong>شهادة التعليم الإبتدائي</strong>
                            </a>
                            <ul>
                                <li><a href="Home.php?option=user"> الغة العربية </a></li>
                                <li><a href="Home.php?option=password"> الرياضيات</a></li>
                                <li><a href="Home.php?option=password"> الغة الفرنسية</a></li>
                            </ul>

                        </li>
                    </ul>
                </nav>
            </div>
      <div class="Content">
        <div class="description">
            <p>بنك الفروض و الإختبارات</p>
            <p>السنة أولى إبتدائي</p>
         </div>
         <div class="motivation_text">
            <p>« عليك ان تواجه كل ما يحدث بأفضل الوسائل التي تمتلكها »</p>
         </div>
         <div class="GroubeModule">
            <div>
             <div class="module">
                <div class="number languages"> <samp >ع</samp></div>
                 <p> <a href="">الغة العربية </a></p>
                 <div class="number"><samp>25</samp></div>
             </div>
             <div class="module">
                <div class="number languages"> <samp >π </samp></div>
                 <p><a href="1 pr/mathematics.html">الرياضيات</a></p>
                 <div class="number"><samp>20</samp></div>
             </div>
             <div class="module">
                <div class="number languages"> <samp >fr</samp></div>
                 <p><a href="">الغة الفرنسية </a></p>
                 <div class="number"><samp>15</samp></div>
             </div>
            </div>
            <div>
                <div class="module">
                    <img src="../../Image/mosque.png" alt="" srcset="">
                    <p>  <a href="">الإسلامية</a> </p>
                    <div class="number"><samp>25</samp></div>
                </div>
                <div class="module">
                    <img src="../../Image/civile.png" alt="" srcset="">
                    <p><a href="">التربية المدنية</a></p>
                    <div class="number"><samp>10</samp></div>
                </div>
                <div class="module">
                    <img src="../../Image/creative-process.png" alt="" srcset="">
                    <p> <a href="">تكنولوجيا</a> </p>
                    <div class="number"><samp>25</samp></div>
                </div>
            </div>
            <div>
                <div class="module">
                    <div class="number languages"> <samp >EN</samp></div>
                    <p> <a href="">الغة الإنجليزية </a></p>
                    <div class="number"> <samp>5</samp></div>
                </div>
                <div class="module">
                    <img src="../../Image/amazigh.png" alt="" srcset="">
                    <p><a href="">الغة الامازيغية</a></p>
                    <div class="number"><samp>10</samp></div>
                </div>
                <div class="module">
                    <img src="../../Image/brush.png" alt="" srcset="">
                    <p><a href="">الفنية</a></p>
                    <div class="number"><samp>10</samp></div>
                </div>
            </div>
            <div>
                <div class="module">
                    <img src="../../Image/music.png" alt="" srcset="">
                    <p><a href="">الموسيقة</a></p>
                    <div class="number"><samp>0</samp></div>
                </div>
            </div>
         </div>
         <div class="motivation_text">
            <p>« عليك ان تواجه كل ما يحدث بأفضل الوسائل التي تمتلكها »</p>
         </div>
      </div>
        
    </section>

    
</body>
<footer>
    <div class="links">
      <div class="links-container">
        <h3>الروابط</h3>
        <a href="">الرئيسية</a>
        <a href="Template/tooles/Hotel.php">منوعات</a>
        <a href="Template/tooles/Visa.php">تواصلوا معنا</a>
        <a href="Template/tooles/Billets d'avion.php">اقترح علينا</a>
      </div>
      <div class="links-container">
        <h3>اتصل بنا</h3>
        <a href="www.gmail.com">***@gmail.com</a>
        <a href="#">+213671474933</a>
        <a href="#">+213550818780</a>
        <a href="#">+213227939042</a>
      </div>
      <!-- sgv  -->
      <div class="links-container">
        <h3>تابعنا</h3>
        <div class="Follow">
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="#"><i class="fa fa-youtube"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
      <div class="links-container">
        <h3>العنوان</h3>
        <a href="https://goo.gl/maps/WEfgPf3GmJCjixB86">M67W+V7H الجلفة‎</a>
      </div>
    </div>

    <div class="info">
      حقوق الطبع والنشر &#169; 2022-2023<br />
      جميع الحقوق محفوظة
    </div>
  </footer>
  <script src="../../js/Home.js"></script>

</html>